.container {
  display: flex;
}

.sidebar {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
  z-index: 1;
}

.sidebar.open {
  width: 250px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.main {
  flex: 1;
  padding: 16px;
  transition: margin-right 0.5s;
}

.main.open {
  margin-right: 250px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
}