.container {
  display: flex;
}

.sidebar {
  width: 250px; /* Ancho del sidebar cuando está expandido */
  transition: width 0.3s ease-in-out; /* Agrega una transición suave */
  flex-shrink: 0; /* Impide que el sidebar se encoja */
}

.sidebar.expanded {
  width: 60px; /* Ancho del sidebar cuando está contraído */
}

.content {
  flex: 1;
  padding: 20px; /* Agrega espacio para el contenido */
}

.logo {
  width: 150px;
  height: 40px;
  object-fit: contain; /* Mantener la proporción de la imagen */
}

/* Estilos para hacer que la imagen sea responsive */
.imagen-container {
  max-width: 100%;
  height: auto;
  overflow: hidden; /* Evita que la imagen se desborde del contenedor */
}

.imagen-container img {
  width: 100%;
  height: auto;
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}
